[submodule "modules/k8-byexamples-mysql"]
	path = modules/k8-byexamples-mysql
	url = git@github.com:mateothegreat/k8-byexamples-mysql
	branch = master
[submodule ".make"]
	path = .make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "modules/k8-byexamples-gitlab"]
	path = modules/k8-byexamples-gitlab
	url = git@github.com:mateothegreat/k8-byexamples-gitlab
	branch = master
[submodule "modules/k8-byexamples-openvpn"]
	path = modules/k8-byexamples-openvpn
	url = git@github.com:mateothegreat/k8-byexamples-openvpn
	branch = master
[submodule "modules/k8-byexamples-keycloak"]
	path = modules/k8-byexamples-keycloak
	url = git@github.com:mateothegreat/k8-byexamples-keycloak
	branch = master
[submodule "modules/k8-byexamples-monitoring-grafana"]
	path = modules/k8-byexamples-monitoring-grafana
	url = git@github.com:mateothegreat/k8-byexamples-monitoring-grafana
	branch = master
[submodule "modules/k8-byexamples-monitoring-prometheus"]
	path = modules/k8-byexamples-monitoring-prometheus
	url = git@github.com:mateothegreat/k8-byexamples-monitoring-prometheus
	branch = master
[submodule "modules/k8-byexamples-redis"]
	path = modules/k8-byexamples-redis
	url = git@github.com:mateothegreat/k8-byexamples-redis
	branch = master
[submodule "modules/k8-byexamples-rabbitmq-cluster"]
	path = modules/k8-byexamples-rabbitmq-cluster
	url = git@github.com:mateothegreat/k8-byexamples-rabbitmq-cluster
	branch = master
[submodule "modules/k8-byexamples-elasticsearch-cluster"]
	path = modules/k8-byexamples-elasticsearch-cluster
	url = git@github.com:mateothegreat/k8-byexamples-elasticsearch-cluster
	branch = master
[submodule "modules/k8-byexamples-kibana"]
	path = modules/k8-byexamples-kibana
	url = git@github.com:mateothegreat/k8-byexamples-kibana
	branch = master
[submodule "modules/k8-byexamples-wordpress"]
	path = modules/k8-byexamples-wordpress
	url = git@github.com:mateothegreat/k8-byexamples-wordpress
	branch = master
[submodule "modules/k8-byexamples-echoserver"]
	path = modules/k8-byexamples-echoserver
	url = git@github.com:mateothegreat/k8-byexamples-echoserver
	branch = master
[submodule "modules/k8-byexamples-dashboard"]
	path = modules/k8-byexamples-dashboard
	url = git@github.com:mateothegreat/k8-byexamples-dashboard
	branch = master
[submodule "modules/k8-byexamples-fluentd-collector"]
	path = modules/k8-byexamples-fluentd-collector
	url = git@github.com:mateothegreat/k8-byexamples-fluentd-collector
	branch = master
[submodule "modules/k8-byexamples-haproxy"]
	path = modules/k8-byexamples-haproxy
	url = git@github.com:mateothegreat/k8-byexamples-haproxy
	branch = master
[submodule "modules/k8-byexamples-ingress-controller"]
	path = modules/k8-byexamples-ingress-controller
	url = git@github.com:mateothegreat/k8-byexamples-ingress-controller.git
	branch = master
[submodule "applications/platform-ui"]
	path = applications/platform-ui
	url = git@gitlab.com:streaming-platform/applications/platform-ui.git
	branch = master
[submodule "docker/docker-alpine-htpasswd"]
	path = docker/docker-alpine-htpasswd
	url = git@github.com:mateothegreat/docker-alpine-htpasswd.git
	branch = master
[submodule "properties/streamnvr.com/.make"]
	path = properties/streamnvr.com/.make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "properties/platformnvr.com/.make"]
	path = properties/platformnvr.com/.make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "properties/streaming-platform.com/.make"]
	path = properties/streaming-platform.com/.make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "properties/echoserver.gcp.streaming-platform.com/.make"]
	path = properties/echoserver.gcp.streaming-platform.com/.make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "modules/k8-byexamples-zipkin"]
	path = modules/k8-byexamples-zipkin
	url = git@github.com:mateothegreat/k8-byexamples-zipkin
	branch = master
[submodule "modules/k8-byexamples-cert-manager"]
	path = modules/k8-byexamples-cert-manager
	url = git@github.com:mateothegreat/k8-byexamples-cert-manager
	branch = master
[submodule "modules/k8-byexamples-postgresql"]
	path = modules/k8-byexamples-postgresql
	url = git@github.com:mateothegreat/k8-byexamples-postgresql
	branch = master
[submodule "modules/k8-byexamples-gcloud-preemptible-starter"]
	path = modules/k8-byexamples-gcloud-preemptible-starter
	url = git@github.com:mateothegreat/k8-byexamples-gcloud-preemptible-starter
	branch = master
[submodule "modules/k8-byexamples-guacamole"]
	path = modules/k8-byexamples-guacamole
	url = git@github.com:mateothegreat/k8-byexamples-guacamole
	branch = master
[submodule "modules/k8-byexamples-jenkins"]
	path = modules/k8-byexamples-jenkins
	url = git@github.com:mateothegreat/k8-byexamples-jenkins
	branch = master
[submodule "modules/k8-byexamples-google-ingressing"]
	path = modules/k8-byexamples-google-ingressing
	url = git@github.com:mateothegreat/k8-byexamples-google-ingressing
	branch = master
[submodule "modules/kubernetes-atlassian-jira"]
	path = modules/kubernetes-atlassian-jira
	url = git@github.com:mateothegreat/kubernetes-atlassian-jira
	branch = master
[submodule "modules/kubernetes-atlassian-confluence"]
	path = modules/kubernetes-atlassian-confluence
	url = git@github.com:mateothegreat/kubernetes-atlassian-confluence
	branch = master
[submodule "modules/k8-byexamples-gluu"]
	path = modules/k8-byexamples-gluu
	url = git@github.com:mateothegreat/k8-byexamples-gluu
	branch = master
[submodule "modules/modules/k8-byexamples-haproxy"]
	path = modules/modules/k8-byexamples-haproxy
	url = git@github.com:mateothegreat/k8-byexamples-haproxy
	branch = master
[submodule "modules/k8-byexamples-keycloak-proxy"]
	path = modules/k8-byexamples-keycloak-proxy
	url = git@github.com:mateothegreat/k8-byexamples-keycloak-proxy
	branch = master
[submodule "modules/k8-byexamples-minio"]
	path = modules/k8-byexamples-minio
	url = git@github.com:mateothegreat/k8-byexamples-minio
	branch = master
[submodule "kubernetes-atlassian-jira"]
	path = kubernetes-atlassian-jira
	url = git@github.com:mateothegreat/kubernetes-atlassian-jira
[submodule "modules/k8-byexamples-cronjobs"]
	path = modules/k8-byexamples-cronjobs
	url = git@github.com:mateothegreat/k8-byexamples-cronjobs
[submodule "modules/k8-byexamples-influxdb"]
	path = modules/k8-byexamples-influxdb
	url = git@github.com:mateothegreat/k8-byexamples-influxdb
[submodule "modules/k8-byexamples-monitoring-metricbeat"]
	path = modules/k8-byexamples-monitoring-metricbeat
	url = git@github.com:mateothegreat/k8-byexamples-monitoring-metricbeat
[submodule "modules/.make"]
	path = modules/.make
	url = git@github.com:mateothegreat/.make.git
	branch = master
[submodule "modules/--force"]
	path = modules/--force
	url = git@github.com:mateothegreat/k8-byexamples-ingress-controller.git
[submodule "modules/k8-byexamples-nginx"]
	path = modules/k8-byexamples-nginx
	url = git@github.com:mateothegreat/k8-byexamples-nginx.git
