k8-byexamples-cert-manager
# k8-byexamples-cronjobs
k8-byexamples-dashboard
# k8-byexamples-echoserver
# k8-byexamples-elasticsearch-cluster
# k8-byexamples-fluentd-collector
k8-byexamples-gcloud-preemptible-starter
# k8-byexamples-gitlab
# k8-byexamples-gluu
# k8-byexamples-google-ingressing
# k8-byexamples-guacamole
# k8-byexamples-haproxy
# k8-byexamples-influxdb
k8-byexamples-ingress-controller
# k8-byexamples-jenkins
# k8-byexamples-keycloak
# k8-byexamples-keycloak-proxy
# k8-byexamples-kibana
# k8-byexamples-minio
# k8-byexamples-monitoring-grafana
# k8-byexamples-monitoring-metricbeat
# k8-byexamples-monitoring-prometheus
# k8-byexamples-mysql
# k8-byexamples-openvpn
# k8-byexamples-postgresql
# k8-byexamples-rabbitmq-cluster
# k8-byexamples-redis
# k8-byexamples-wordpress
# k8-byexamples-zipkin
# kubernetes-atlassian-confluence
# kubernetes-atlassian-jira